.btn-show-info {
    border-radius: 999px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
    user-select: none;
    top: 0;
    right: 0;
    bottom:0;
}

.graph .btn-show-info {
    position: absolute;

}

.info {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f1c32;
    padding: 20px;
    border: 1px solid #bce162;
    border-radius: 20px 20px 0 0;
}

.info.active{
    background-color: #bce162;
}