body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;

  }
h2{
    margin: 0;
}
  .container {
    margin: 0 auto;
}

#app {
  height: 100%;
  position: relative;
}
body, #app, #__next, div[class^="SiteWrapper"]  {
  height: 100%;
  margin: 0; padding: 0;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%; /* We keep this right? */
}

#__next > button {
  position: fixed;
  bottom: 0;
  left: 0;
}